.calendar-wrapper
    margin: 1em auto
    max-width: 30em
    font-family: monospace
    font-size: 1em

.container-calendar
    background: #ffffff
    padding: 1em
    margin: 0 auto
    overflow: auto

.calendar-title
    height: 1.2em
    max-height: 1.2em
    resize: none

.button-container-calendar
    button
        top: 0em
        cursor: pointer
        display: inline-block
        border: 1px solid black
        padding: 5px 10px
        background-color: white
    button:hover
        color: white
        background: grey

.table-calendar
    border-collapse: collapse
    width: 100%

    td 
        padding: 5px
        border-top: 1px solid grey
        text-align: center
        vertical-align: top

    .date-picker.selected 
        font-weight: bold
        outline: .2em dashed black

        span 
            border-bottom: 2px solid currentColor

    /* sunday */
    .date-picker:nth-child(1) 
        color: blue
        border-right: 1px solid grey

    /* friday */
    .date-picker:nth-child(6) 
        color: green

    .date-picker:hover
        cursor: pointer
        outline: 1px solid black

#monthAndYear 
    text-align: center
    margin-top: 0

.button-container-calendar 
    position: relative
    margin-bottom: 1em
    overflow: hidden
    clear: both

#previous 
    float: left

#next 
    float: right

.footer-container-calendar 
    position: absolute
    top: 27em
    width: 28em
    margin-top: 1em
    border-top: 1px solid #dadada
    padding: 10px 0

    select
        font-size: 1em
        font-family: monospace
        cursor: pointer
        display: inline-block
        border: 1px solid black
        padding: .2em .2em

.post-calendar-notes
    position: absolute
    top: 31em

textarea
    border: 1px solid black
    position: relative
    margin: auto
    width: 27.5em
    max-width: 27.5em

._selected
    color: white !important

.color-selector
    position: absolute
    top: 25em
    .circle
        background-color: green
        border-radius: 50%
        width: 1.7em
        height: 1.7em
        display: inline-block
        margin-top: 0.2em
        margin-left: 0.2em
        float: left
        border: 0.1em solid transparent
    .circle:hover
        cursor: pointer
        outline: 1px solid black
    .pink
        background-color: pink
    .blue
        background-color: lightblue
    .green
        background-color: lightgreen
    .red
        background-color: indianred
    .selected-color
        outline: 2px solid black !important